@media (max-width: 800px) {

  .dropdown{
    width: 140px !important ;
  }
  .buttonsgrid {
    margin-right: 0px !important;
    margin-left: 16% !important;
    display: flex;
  }
  .ftpconfigGrid {
    height: 150px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  .selectdropdown {
    width: 150px !important;
  }
  .permissions {
    display: flex !important;
    flex-wrap: wrap !important;
    word-break: break-word !important;
    padding-bottom: 2% !important;
  }
  .contactcontent {
    padding: 2%;
    height: 250px !important;
    overflow-y: auto;
  }
  .groupdropdown {
    width: 100px !important;
  }
  .permissiondropdown {
    width: 400px !important;
  }
  .userform {
    padding: 2% 3% !important;
  }
  .configcontainer {
    padding: 3% 4%;
  }
  .addfieldserror {
    margin-top: 2% !important;
    text-align: center !important;
  }
  .EImaingrid {
    max-width: 100% !important;
    flex-basis: inherit !important;
  }
  .listitemgrid {
    max-height: 130px !important;
    overflow-y: auto !important;
  }
  .searchpartner {
    color: #0b153e !important;
  }

  .partnertext {
    color: #0b153e !important;
  }
  .list {
    min-width: 100%;
  }
  .Notifitextgrid {
    margin-left: 5% !important;
  }
  button.registerbutton {
    margin-left: 2%;
    margin-right: 2%;
  }
  .reggrid {
    padding: 0px !important;
  }
  button.createresetbutton {
    color: rgba(0, 0, 0, 0.6) !important;
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 13px;
    width: 100%;
    background: 0 0 !important;
    font-weight: 400;
    border-radius: 0.28571429rem;
    text-transform: none;

    border: 1px solid #e7e7e7;
  }
  .userform {
    padding: 2%;
    height: 100% !important;
    overflow-y: auto !important;
  }
  .configtextfield {
    margin-top: 16px !important;
    margin-bottom: 8px !important;
    width: 80% !important;
  }
  .configGrid {
    height: 150px !important;
    overflow-y: auto !important;
    z-index: 1 !important;
  }
  .AddressconfigGrid {
    height: 250px !important;
    overflow-y: 100% !important;
    overflow-x: hidden;
  }
  #loading-content {
    position: absolute !important;
    left: 47% !important;
    top: 59% !important;
    font-size: 20px;
    font-weight: 500;
    color: #0b153e;
    text-align: center;
    z-index: 100;
  }
  .uploadcontent {
    padding: 3% !important;
  }
  .loginlogo {
    margin-left: 25% !important;
    margin-right: 25% !important;
  }
  .usergrid {
    max-width: 100% !important;
    padding-left: 20px;
  }
}
@media (max-width: 500px) {

  .buttonsgrid {
    margin-left: 0px !important;
    display: block;
  }
  .orgmodal {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 8% !important;
  }

  .selectdropdown {
    width: 240px !important;
  }
  .dropdown{
    width: 300px !important ;
  }

  .ftpconfigGrid {
    height: 300px !important;
    overflow-y: auto;
    padding: 7% !important;
    overflow-x: hidden !important;
  }
  .contactcontent {
    padding: 2% 3%;
    height: 450px !important;
    overflow-y: auto;
  }

  .contactcontent {
    padding: 2% !important;
  }
  .addressformcontent {
    padding: 3% !important;
    height: 450px !important;
    overflow-y: auto !important;
  }
  .userformcontent {
    display: flex;
    flex-wrap: wrap;
    padding: 2% 3%;
  }
  .formcontent {
    padding: 3% !important;
  }
  .logincontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6%;
    padding: 2% 3%;
    padding-top: 50px;
    border: 0.5px;
    min-width: 100px !important;
    border-radius: 5px;
    border-style: groove;
  }
  .Advancedheader1{
    font-size: 10px !important;
    font-weight: bold !important;
    color:#0b153e !important;
    font-family: Arial !important;
    margin-left: 7% !important;
    margin-top: 2% !important;
  }
  .sendtext{
    font-size: 10px !important;
       font-weight: bold !important;
       color:#0b153e !important;
       font-family: Arial !important;
       margin-left: 7%;
       margin-top: 2% !important
    }
     .checkoutresponsive{
      padding: 0px !important
    }

  .textField {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    word-break: break-word !important;
    padding: 6% !important;
  }
  .partnertextField {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    word-break: break-word !important;
    padding: 0% !important;
  }
  .pdashboardroot {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
  }
  @media (min-width: 500px) {
  
    .layoutcontent {
      flex-grow: 1;
    }
  }
  .addfieldserror {
    padding-left: 2% !important;
    margin-top: 2% !important;
  }
  .delete {
    right: 20px !important;
  }
  .div {
    padding: 3%;
  }
  .configcontainer {
    max-height: 530px;
    padding: 2% 3% !important;
  }
  .h2 {
    margin-top: 3%;
    font-size: 18px !important;
  }
  .EIplaceholder {
    font-size: 14px !important;
  }
  .reggrid {
    display: contents !important;
  }
  .regcontainer {
    padding: 5% 8% !important;
  }
  .configGrid {
    height: 450px !important;
    overflow-y: auto;
  }
  .AddressconfigGrid {
    height: 535px !important;
    overflow-y: auto !important;
    overflow-x: hidden;
    position: relative;
  }
  #loading-content {
    position: absolute !important;
    left: 42% !important;
    top: 50% !important;
    font-size: 20px;
    font-weight: 500;
    color: #0b153e;
    text-align: center;
    z-index: 100;
  }
  #cover-spin::after {
    left: 43% !important;
    top: 40% !important;
  }
  .uploadcontent {
    padding: 4% !important;
  }
  .loginlogo {
    margin-left: 18% !important;
    margin-right: 18% !important;
  }
  .mainreggrid {
    height: 510px !important;
    overflow-y: auto;
  }
  .groupdropdown {
    width: 200px !important;
  }
}
.permissiondropdown {
  width: 200px !important;
}
.userform {
  padding: 2% !important;
}
@media (min-width: 600px) {
  .anchortag {
    word-break: break-word;
  }

  .instructions {
    margin: 0;
  }
  .drawer {
    width: var(--drawer-width);
    flex-shrink: 0 !important;
  }
  .appBar {
    width: calc(100% - var(--drawer-width)) !important;
  }
  .menubutton {
    display: none !important;
  }
  .usergrid {
    max-width: 100% !important;
    padding-left: 20px;
  }
}
@media (max-width: 1000px) {
  .grid {
    max-width: 100% !important;
    flex-grow: 1 !important;
    flex-basis: auto !important;
  }
  .layoutcontent {
    flex-grow: 1;
  }
  /*
  .layoutcontent{
    flex-grow: 1;
    margin-left:20%;
    margin-right: 2%;
  }
  */
}

button.button1 {
  background-color: #0e4229;
  color: #ffffff;
}
button.button2 {
  background-color: #92050e;
  color: #ffffff;
}
.backarrow {
  float: left;
  margin: 5px;
}
button.createbutton {
  color: #ffffff;
  background-color: #350d36;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  width: 100%;
}
button.partnergobutton {
  color: #ffffff;
  background-color: #0b153e;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  width: 150px !important;
  margin-left: 40% !important;
}
button.partnergobutton:hover {
  background-color: #0b153e;
}
button.createpartnerbutton {
  color: #ffffff;
  background-color: #0b153e;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  width: 100%;
}
button.createorgbutton {
  color: #ffffff;
  background-color: #0b153e;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  width: 100%;
  margin-left: 2% !important;
}

button.partnergobutton {
  color: #ffffff;
  background-color: #0b153e;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  width: 100%;
  margin-left: 40% !important;
}
button.createpartnerbutton:hover {
  background-color: #0b153e;
}
button.partnergobutton:hover {
  background-color: #0b153e;
}
button.cardbutton {
  font-family: Arial, Helvetica Neve, Helvetica, Sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.buttontext {
  word-break: break-all !important;
  font-size: 13px;
}
.bgcolor {
  background-color: #0b153e;
}
button.installbutton {
  background-color: #350d36;
  color: white;
  margin: 0px;
  border: 0px;
  border-radius: 2px;
  font-size: 13px;
}
button.consolebutton {
  background-color: #0b153e;
  color: white;
  margin: 0px;
  font-size: 13px;
  text-transform: none;
}
button.fab {
  color: white;
  position: fixed;
  bottom: 80px;
  right: 80px;
}
button.registerbutton {
  width: 100%;
  color: white;
  margin-bottom: 4px;
  font-size: 13px;
  background-color: #350d36;
  margin-top: 8px;
}

.typographysubheader {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
  word-break: break-word;
}
.header {
/* border-radius: 18px 18px 0px 0px; */
  background-color: #0b153e;
  color: #ffffff;
  font-size: 22px;
}
.h2 {
  text-align: left;
  margin-top: 1.7%;
  font-weight: 400;
  margin-bottom: 1.7%;
  margin-left: 3.5%;
  font-family: Amazon Ember, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 22px;
  color: white;
}
.orgmodal {
  padding-left: 4%;
  padding-right: 4%;
}
.close {
  padding-top: 1.6%;
  text-align: center;
  cursor: pointer;
}
.card {
  width: 100%;
  background-color: #ffffff;
}
.CardHeader {
  margin: 3%;
  padding: 2% !important;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0b153e;
}
.title {
  text-align: left;
  font-size: 16px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
  white-space: normal;
  word-wrap: break-word;
}
.icon {
  cursor: pointer;
}
.subheader {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
  word-break: break-word;
}
.CardTHeader {
  font-size: 14px !important ;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
  padding: 0px;
  text-align: center !important;
  word-break: break-all !important;
  color: #ffffff !important;
  padding: 5px !important;
  border-radius: 0px !important;
}

.EIcontent {
  padding-top: 0px !important;
}
.EItitle {
  font-size: 16px !important;
  margin-top: 1.5% !important;
  margin-bottom: 0px !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
  font-weight: 400;
}
.divider {
  margin: 'theme.spacing(0, 0)';
  background-color: #a9a9a9;
  width: 100%;
}
.content {
  padding: 2% 3%;
}

.contactcontent {
  padding: 2%;
}
.addressformcontent {
  padding: 2% 3%;
}
.userformcontent {
  padding: 2% 3%;
}
.userformcontent1 {
  padding: 0%;
}

.userlistitem {
  padding-left: 5px;
}
.list {
  padding: 3%;
}
.adduserbutton {
  margin: 1% !important;
}
.buttonsgrid {
  padding: 1.5% !important;
  margin-right: -6% !important;
}
.root {
  flex-grow: 1 !important;
  display: inherit;
  flex-flow: wrap;
}
.deletetext {
  font-size: 15px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  margin: 0px;
}
.SnackbarCss {
  background-color: green;
}
.snackbarclose {
  padding: 0.5px !important;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6%;
  padding: 2% 3%;
  padding-top: 50px;
  border: 0.5px;
  min-width: 500px;
  border-radius: 5px;
  border-style: groove;
}
.logincontainer {
  display: flex;
  flex-wrap: wrap;
 padding:30px !important;
 margin-top: 4%;
  border: 0.5px;
 overflow-y:hidden !important;
  border-radius: 5px;
  border-style: groove;
}
.addserviceform {
  display: flex;
  flex-wrap: wrap;
  padding: 1% 2%;
}
.consolesubtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 19px;
  font-family: Arial, Helvetica Neve, Helvetica, Sans-serif;
}
.consoleheader {
  font-size: 16px !important;
  font-family: Arial, Helvetica Neve, Helvetica, Sans-serif !important;
  color: #ffffff !important;
  padding-right: 14px;
  padding-left: 14px;
  padding: 10px;
}
.consolebody {
  font-size: 13px !important;
  font-family: Arial, Helvetica Neve, Helvetica, Sans-serif !important;
}
.anchortag {
  text-decoration: none;
}
.tableroot {
  width: 100%;
  overflow-y: auto;
}
.clrRed {
  color: red;
  font-size: 13px;
  margin-bottom: 1%;
}
.configtextfield {
  margin-left: 8px !important;
  margin-right: 8px !important;
  width: 200px;
}
.configcontainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2% 3%;
}
.snackbarmessage {
  display: flex;
  align-items: center;
}
.snackbaricon {
  font-size: 20px;
}
.snackbariconVariant {
  opacity: 0.9;
  margin-right: 24px;
}
.snackbarclose {
  padding: 20px;
}
.loaderprogress {
  margin: 16px;
}
.singleValue {
  font-size: 16px !important;
  word-break: break-word !important;
}
.placeholder {
  position: absolute !important;
  left: 2px !important;
  bottom: 6px !important;
  font-size: 16px !important;
}
.noOptionsMessage {
  padding: 8px 16px !important;
}
.input {
  display: flex !important;
  padding: 0px !important;
  height: auto !important;
  cursor: pointer;
}
.EIplaceholder {
  position: absolute !important;
  left: 2px !important;
  bottom: 6px !important;
  font-size: 16px;
}
.EIvalueContainer {
  display: flex !important;
  flex-wrap: wrap !important;
  flex: 1 !important;
  align-items: center !important;
  overflow: hidden !important;
}
.EIchip {
  margin: 4px 2px;
  height: fit-content;
  word-break: break-word;
}
@media (max-width: 600px) {
  .EIchip {
    width: 140px;
  }
}
.EIchip.span {
  white-space: normal !important;
}

.addtargethosticon {
  padding: 0 !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
}
.targettable {
  min-width: 500px !important;
}
.dashboardtitles {
  font-size: 22px !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
  margin-top: 19.438px !important;
}
.backarrow {
  float: left;
}
.projectname {
  padding: 8px !important;
  font-size: 22px !important;
  word-break: break-all;
}
.addusergrid {
  text-align: end;
  padding-left: 0px;
  margin-left: -2%;
  margin-top: 4.5% !important;
}
.adduser {
  right: 50px !important;
}
.griddelete {
  text-align: left;
  padding-left: 0px !important;
  margin-top: 4.5% !important;
}
.delete {
  right: 20px !important;
}
.menutext {
  font-size: 13px !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
}
.dropdowntext {
  font-size: 13px;
  word-break: break-all;
}
.listitem {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.grow {
  flex-grow: 1 !important;
}
.layoutcontent {
  flex-grow: 1;
  margin-left: 14%;
  margin-top: 1%;
  margin-right: 1%;
}
/*
.layoutcontent {
  flex-grow: 1;

}
*/

.itemText {
  color: #ffffff !important;
  min-width: 20px !important;
  word-break: break-word;
  padding-left: 7px !important;
}
@media (min-width: 960px) {
  .sectionDesktop {
    display: flex !important;
  }
  .sectionMobile {
    display: none !important;
  }
}
.sectionDesktop {
  display: none;
}
.sectionMobile {
  display: flex;
}
.sectionMobile.logo {
  width: 20;
  height: 20;
}
.notificationfooter {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
:root {
  --drawer-width: 200px !important;
}
.drawer {
  background-color: #350d36 !important;
}
.appBar {
  background-color: snow !important;
  color: #ffffff !important;
  margin-left: var(--drawer-width);
}
.menubutton {
  margin-right: 20px !important;
  color: #0b153e !important;
}

.orgtextField {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  word-break: break-word !important;
  font-size: 10px !important;
}

.textField {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  word-break: break-word !important;
}
.partnertextField {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  word-break: break-word !important;
}
.dense {
  margin-top: 16px !important;
}
.tablecell {
  text-align: center !important;
}
.tablelabel {
  font-size: 16px !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
  font-weight: 700 !important;
  color: #000000 !important;
}
.tablelabel:hover {
  color: #808080 !important;
}
.addgrid:hover {
  cursor: pointer;
}
.addgrid {
  margin-top: 4.5% !important;
  text-align: 'center' !important;
  padding-left: 5% !important;
}
.uploadgrid:hover {
  cursor: pointer;
}
.uploadgrid {
  margin-top: 4.5% !important;
  text-align: 'center' !important;
  padding-right: 3% !important;
}
.subOption {
  padding-left: 8px !important;
}
.titlehead {
  flex: 0 0 auto !important;
}
.tabletitle {
  font-size: 22px !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
}
.spacer {
  flex: 1 1 100% !important;
}
.actions {
  color: secondary !important;
}
.tool {
  color: #ffffff !important;
}
.tableWrapper {
  overflow-x: auto !important;
}
.table {
  width: 100% !important;
  overflow-x: auto !important;
}
.tablebody {
  font-size: 13px !important;
}
.pagination {
  display: flex !important;
}
/*.enhancedTable {
padding: 0px !important;
}*/
.notificationtext {
  font-size: 13px !important;
}
.Notificationtitle {
  font-size: 22px !important;
  margin-top: 19.438px !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
}
.Avatargrid {
  flex-basis: 5% !important;
}
.notificationdivider {
  width: 90% !important;
}
.maincard {
  max-width: 345px !important;
}
.cardprojectname {
  word-break: break-all !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: Arial, Helvetica Neve, Helvetica, Sans-serif !important;
}
.carddateValue {
  font-size: 13px !important;
  font-weight: 700 !important;
}
.cardavatar {
  color: #d84e4e !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 12px !important;
}
.ownername {
  font-size: 13px !important;
  word-break: break-word !important;
}
.listcontainer {
  width: 100% !important;
}
.regtextfield {
  width: 100%;
}

.addfieldserror {
  color: red !important;
  font-size: 13px !important;
}
.searchicon {
  padding: 0px !important;
}
.searchicon:hover {
  background: none !important;
}
.dropdownselect {
  position: absolute;
  z-index: 1;
  margin-top: 8px;
  left: 0;
  right: 0;
  word-break: break-word;
}
.errorpage {
  font-weight: 400 !important;
  font-size: 22px !important;
}
.searchicon {
  padding: 0px !important;
}
.searchicon:hover {
  background: none !important;
}
.emptypage {
  flex-grow: 1 !important;
  font-weight: 400 !important;
  padding: 16px !important;
  margin: 3% !important;
}
.enhancetablepaper {
  width: 100% !important;
  margin-bottom: 16px !important;
}
.modalpaper {
  background-color: #ffffff;
  box-shadow: 0px 3px 8px 0px;
  outline: none;
  border-radius: 0px;
 margin:1% !important;
  line-height: normal;
}
.usermodalpaper {
  background-color: #ffffff;
  box-shadow: 0px 3px 8px 0px;
  outline: none;
  border-radius: 20px;
  margin-top: 6% !important;
  margin-bottom: 2% !important;
  margin-left: 15% !important;
  margin-right: 15% !important;
  margin-bottom: 6% !important;
  line-height: normal;
}
.fabmodal {
  overflow-y: auto;
}
.createpartnerbuttton {
  color: #0b153e;
}
.addIconColor {
  color: #0b153e;
  font-size: 40px;
}
.pdashboardroot {
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  max-width: 100%;
  margin: 0;
  word-break: break-all !important;
}
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: show;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 60px;
  height: 60px;
  border-style: dotted;
  border-color: #0b153e;
  border-top-color: transparent;
  border-width: 6px;
  border-radius: 50%;
  -webkit-animation: spin 5000ms linear infinite;
  animation: spin 5000ms linear infinite;
}
#loading-content {
  position: absolute;
  left: 47.5%;
  top: 50%;
  font-size: 20px;
  font-weight: 500;
  color: #0b153e;
  text-align: center;
  z-index: 100;
}
#Circularloading-content {
  position: absolute;
  left: 47.5%;
  top: 50%;
  font-size: 10px;
  font-weight: 600;
  color: #0b153e;
  text-align: center;
  z-index: 100;
}
.progressLabel {
  position: absolute;
  align-items: 'center';
  margin-top: 25%;
  max-width: 90%;
}
.advancedFrom{
font-size: 14px;
font-family: Arial!important;
font-weight: 700;
line-height: 1.6;
letter-spacing: 0.0075em;
margin:0;
padding:0;

}
.Advancedtext{
color: #0b153e!important;
font-size: 10px!important;
align-items: center!important;
font-family: Arial!important;
padding-top: 1px!important;
padding-bottom: 1px!important;


 }
.Advancedheader{
font-size: 12px!important;
font-weight: bold!important;
color:"#0b153e"!important;
font-family: Arial!important;
margin:0.5px;
}
.Linearprogress {
  background-color: 'transaparent';
  outline: none;
  margin-top: 23% !important;
  margin-left: 18% !important;
  margin-right: 18% !important;
  line-height: normal;
  width: 80% !important;
}
.LinearLoader {
  background-color: #ffffff00;
  outline: none;
  margin-top: 22% !important;
  margin-left: 20% !important;
  line-height: normal;
  width: 70% !important;
}
.ConnectorsFrom{
  font-size: 14px;
  font-family: Arial !important;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  padding:15px !important;
}
 .Connectorstext{
color: #0b153e !important;
    font-size: 10px !important;
    align-items: center !important;
    font-family: Arial !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
 }
.Connectorsheader{
 font-size: 12px !important;
    font-weight: bold !important;
    color:"#0b153e" !important;
    font-family: Arial !important;
 }
/*
.layoutroot {
  display: flex;
  padding-left:1%;
padding-right:1%;
margin-left: 13%;
padding-bottom: 2px;
padding-top:2%;


}
*/
.autoselectroot {
  flex-grow: 1;
  z-index: 10;
}

.breadcrumbroot {
  justify-content: center;
  flex-wrap: wrap;
}
.breadcrumbpaper {
  padding: 8px 16px;
}
.reactselectroot {
  flex-grow: 1;
  width: 100%;
}
.commonroot {
  flex-grow: 1;
}
.searchcontainer {
  flex-grow: 1;
  position: relative;
}
.enhancedroot {
  width: 100%;
  overflow-x: auto;
}
.adduserpaper {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
.scrollable {
  max-height: 100px !important;
  overflow-y: auto !important;
  width: 500px !important;
  overflow-x: hidden !important;
}
.reggrid {
  padding: 4px !important;
  margin-bottom: 0px !important;
}
.submitgitbranch {
  font-size: 14px !important;
  width: 100% !important;
}
.saveuploadfile {
  font-size: 14px !important;
  width: 100% !important;
  margin-top: 2% !important;
}
.uploadbutton {
  font-size: 14px !important;
  width: 100% !important;
}
.uploadcontent {
  padding: 2%;
}
.loginlogo {
  margin-left: 42%;
  margin-right: 42%;
}
.regcontainer {
  padding: 2% 3%;
}
.headerdown {
  padding-right: 8px;
  color: white;
  padding-left: 16px;
  padding-right: 8px;
  background-color: #0b153e;
}
.paperpage {
  flex-grow: 1 !important;
  font-weight: 400 !important;
  width: 70%;
  padding: 0;
  margin: 0;
  font-size: 20px !important;
  text-align: center !important;
  color: #0b153e !important;
}
.paperorgpage {
  flex-grow: 1 !important;
  font-weight: 400 !important;
  padding: 40px !important;
  margin: 10% !important;
  font-size: 20px !important;
  text-align: center !important;
  color: #0b153e !important;
}

.paneltext {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  font-size: 12px !important;
  font-weight: 600;

  font-family: Arial !important;
  word-break: break-word;
}

button.createpartnerbutton1 {
  color: '#000006';
  background-color: #e5ccff;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  width: 100%;
}
button.createorgbutton1 {
  color: '#000006';
  background-color: #e5ccff;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  width: 100%;
  margin-right: 2% !important;
}
.projectcontent {
  display: grid !important;
}
.projectgrid {
  max-width: 100% !important;
  padding-bottom: 0 !important;
}
.usergrid {
  max-width: 100% !important;
  padding-left: 20px !important;
}
.userform {
  padding: 2% 3% !important;
}
.tutorialheading {
  font-size: 25px !important;
  font-weight: 600 !important;
  text-align: center !important;
}
.tutorialtext {
  font-size: 22px !important;
  font-weight: 500 !important;
}
.tutorialcontainer {
  padding: 20px !important;
}
.supporttext {
  font-weight: 700 !important;
  font-size: 30px !important;
  color:#404040 !important;
}
.advancedFrom{
  font-size: 14px;
  font-family: Arial !important;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin:0;
  padding:0;
}
 .Advancedtext{
    color: #0b153e !important;
    font-size: 10px !important;
    align-items: center !important;
    font-family: Arial !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
 }
.Advancedheader{
 font-size: 10px !important;
    font-weight: bold !important;
    color:#0b153e !important;
    font-family: Arial !important;
   margin:0.5px; 
 }
 .Advancedheader1{
  font-size: 10px !important;
     font-weight: bold !important;
     color:#0b153e !important;
     font-family: Arial !important;
     margin-left: 7% !important;
     margin-top: 12% !important;
 
  }
  .Advancedheader2{
    font-size: 10px !important;
       font-weight: bold !important;
       color:#0b153e !important;
       font-family: Arial !important;
       margin-left: 7%;
       margin-top: 11%;
    }
 .X12content {
  padding: 2% 3%;
  height:510px !important;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.sendtext{
  font-size: 10px !important;
     font-weight: bold !important;
     color:#0b153e !important;
     font-family: Arial !important;
     margin-left: 7%;
     margin-top: 25% 
  }
  .interchangedropdown{
    margin-top:-10px !important;
  }

  .dropdown{
    width:230px
  }
  
.logincontainer {
  display: flex;
  flex-wrap: wrap;
 padding:30px !important;
 margin-top: 3.5%;
  border: 0.5px;
 overflow-y:hidden !important;
  border-radius: 5px;
  border-style: groove;
}
